In [ ]:
import math

In [2]:
math.sqrt(25)

5.0

In [ ]:
math.pi
import math as mt
mt.sqrt(25)

In [6]:
from numpy import random
import numpy as np

# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [7]:
np.mean(dataOne)

0.47850245495072197

In [9]:
np.amin(dataOne)
np.std(dataOne)
np.histogram(dataOne)

(array([2, 4, 2, 5, 2, 1, 2, 1, 3, 3], dtype=int64),
 array([0.00360265, 0.10306088, 0.20251911, 0.30197734, 0.40143556,
        0.50089379, 0.60035202, 0.69981025, 0.79926848, 0.8987267 ,
        0.99818493]))

In [10]:
print('I Love data Science')

I Love data Science

In [11]:
variableName = 25
variableName1 = 'I Love data Science'

print(variableName1)

I Love data Science

In [12]:
variableName = 25
type(variableName)

variableName = 25.0

type(variableName)

float

In [13]:
varOne = 25
varTwo = 25.0
varThree = varOne + varTwo
print(varThree)

50.0

In [15]:
varOne = 25
varTwo = 'Hello'

varOne_str = str(varOne)
varThree = varOne_str + varTwo
print(varThree)

25Hello

In [16]:
listName = [ ]
listOne = [1,2,3,4]
print(listOne[1:3])

[2, 3]

In [17]:
tel = {'jack': 4098, 'sape': 4139}
tel['jack']

4098

In [29]:
#myDict = {'first': 42, 'second': 98, 'third': 20, 'fourth': 77, 'fifth': 39}
first = 42
second = 98
third = 20
fourth = 77
fifth = 39

In [38]:
print(math.pi/first)
print(np.log(second))
print(np.sqrt(fourth))

0.07479982508547127
4.584967478670572
8.774964387392123